@keyframes rotateEarth {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
  }
  
  .earth-container {
    width: 500px; 
    height: 500px;
    margin: 0 auto;
    position: relative;
    perspective: 1000px;
  }
  
  .earth {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    animation: rotateEarth 30s linear infinite; 
    transform-style: preserve-3d; 
  }
  